
<header class="header">
    <div class="header-content responsive-wrapper">
        <div class="header-logo">
            <h1>System check bundle</h1>
        </div>
        <div class="header-navigation">
            <nav class="header-navigation-links">
            </nav>
            <div class="header-navigation-actions">
                <a href="#" class="icon-button">
                    <i class="ph-gear-bold"></i>
                </a>
                <a href="#" class="icon-button">
                    <i class="ph-bell-bold"></i>
                </a>
            </div>
        </div>
        <a href="#" class="button">
            <i class="ph-list-bold"></i>
            <span>Menu</span>
        </a>
    </div>
</header>