<div class="content-panel">
    <div class="vertical-tabs">
        <a href="#" class="active">View all</a>
        <a href="#">Developer tools</a>
        <a href="#">Communication</a>
        <a href="#">Productivity</a>
        <a href="#">Browser tools</a>
        <a href="#">Marketplace</a>
    </div>
</div>