<div class="main-header">
    <h2>Details</h2>
</div>

<div class="content-header">
    <div class="content-header-intro">
        <h2>System to Check: <b>{{ totalChecks }} service(s)</b></h2>
        <p>Configure your service to check in "system_services.yaml".</p>
    </div>
    <div class="content-header-actions">
        <a href="#" class="button">
            <i class="ph-faders-bold"></i>
            <span>Filters</span>
        </a>
        <a href="{{ asset('bundles/systemcheck/files/system_services.yaml') }}" class="button" download>
            <i class="ph-plus-bold"></i>
            <span>Download model</span>
        </a>
    </div>
</div>