{% extends '@SystemCheckBundle/base.html.twig' %}

{% block title %}System Check bundle{% endblock %}

{% block body %}
    <div class="card-container">
        {% include '@SystemCheckBundle/component/card-info.html.twig' %}
    </div>
{% endblock %}
